.header {
  display: flex;
  align-items: center;
  background-color: var(--cor-p2);
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

.header ul {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .header {
    padding: 1rem;
  }
}